*.log
*.aux
*.pdf
*~
*.dvi
.Rproj.user
*.tex
*.RData
*.bll
*.bbl
*.blg
.Rhistory
PartIII-diss.Rproj
*.lof
*.lot
*.tdo
*.toc
knitr.sty
texcount.pl
*.png
cache/*
background.R
dissertation.R
methods.R
conclusion.R
introduction.R
results.R
*.zip
*.tar
*.gz
